@import url('https://fonts.googleapis.com/css?family=Exo:100,200,400|Roboto:100,200,400&display=swap');

/*---------Colors------*/
.bg-color-name-title {
    background-color: #676767;

}
.nav-home{
    background-color: #e67e22;
}

.nav-resume{
    background-color: #9b59b6;
}

.nav-contact{
    background-color: #3498db;
}

.nav-download{
    background-color: #525252;
}

/*---------Header------*/
header {
    margin: 0;
}
.logo {
background: url(../images/rosie.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
min-height: 360px;
transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;
-webkit-transition: all .5s ease-in-out;
}

.headings {
margin-left: 50px;
}

.name {
font-family: "Exo", sans-serif;
font-weight: 100;
font-size: 46px;
margin-top: 50px;
color: white;
}
.title {
font-family: "Roboto", sans-serif;
font-weight: 200;
font-size: 28px;
margin-top: 20px;
margin-bottom: 90px;
color: white;
}
.list-inline-item:not(:last-child) {
    margin: 0;
}

.menu-container{
    font-size: 0;
}

#nav{
    margin-bottom: 0;
}

#nav li{
    font-size: 14px;
    padding: 0;
}
.navitem{
    height: 120px;
    padding: 0;
    text-align: center;
}

.navitem a {
    width: 100%;
    text-decoration: none;
    color: white;
    height: 120px;
}

.navitem a i {
    padding-top: 22px;
    color: #fafafa;
    display: block;
    font-size: 26px;
}

.navitem span {
    display: block;
    padding-top: 5px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
}

/*---------Header------*/

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}

/*---------Special------*/

h1,h2,h3,h4 {
    margin: 0;
}

.uppercase{
text-transform: uppercase;
} 

.general-sub{
font-family: "Exo", sans-serif;
font-weight: 300;
color: #fafafa;
}

/*---------Footer------*/

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

footer i {
    color: #fafafa;
    font-size: 18px;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

footer i:hover{
    color: #e67e22;
}

footer li i{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 12px 0;
    text-align: center;
    font-size: 13px;
    color: #fafafa;
    background: #8f8f8f;
    line-height: 7px;
}

#footer-headings{
    padding: 20px;
}